﻿@model PeruTourism.Models.Visa.PedidoVisaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Pago";


    var lstPedidoVisa = Model.lstPedidoVisa;

    //var IDPedido = lstPedidoVisa.FirstOrDefault().IDPedido;

    var urlPagoGG = Model.urlPago;

    var codCliente = Model.codCliente;
    var idPedido = Model.idPedido;
    var nroPrograma = Model.nroPrograma;
    bool flagVendido = Model.flagVendido;
    char idioma = Convert.ToChar(Model.idioma);

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };
}
<style type="text/css">
    .field-validation-error {
        color: #ff0000;
        display: block;
    }

    #iconIntermitente {
        opacity: 1;
        transition: opacity .5s;
    }

        #iconIntermitente.fade {
            opacity: 0.2;
        }

        #iconIntermitente:hover {
            opacity: 1;
        }

    .groupCircle {
        background: #ff8820 !important;
    }

        .groupCircle:hover {
            top: 0px;
            width: 150px;
            height: 150px;
            border: #FF7200 5px solid;
        }
</style>

@if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
{
    <div id="propDet" class="secondary">

        <div class="container-fluid">
            <section class="subtitle" style="margin-bottom: 0px;">
                <div class="container">
                    <div class="text-center bloqueCode">
                        <label class="titulo">Your customer code is:</label>
                        <br />
                        <label class="codigo">@codCliente</label>
                    </div>

                </div>
            </section>



            <div class="breadcrumb">
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Home</span>
                    </span>
                </a>

                @if (flagVendido == true)
                {
                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = ViewBag.codCliente , pFlagVendido = flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">My booked trip</span>
                        </span>
                    </a>

                    <a href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = idPedido, NroPrograma = nroPrograma, FlagIdioma = idioma, pCodCliente = codCliente, pFlagVendido = flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Details</span>
                        </span>
                    </a>
                    <input id="mostrarMenuVendido" value="ok" style="display:none" />
                    @*<div id="mostrarMenuVendido" style="display:none">ok</div>*@
                }
                else
                {
                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = ViewBag.codCliente, pFlagVendido = flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">My travel itineraries</span>
                        </span>
                    </a>

                    <a href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = idPedido, NroPrograma = nroPrograma, FlagIdioma = idioma, pCodCliente = codCliente, pFlagVendido = flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Details</span>
                        </span>
                    </a>
                }






                <div class="no_enlace">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title">Pay now</span>
                    </span>
                </div>
            </div>






        </div>


        @*<div class="group prop-detalle">
                <div class="group text-center" style="padding-top: 17px;">
                    <a class="group text-center" href="https://www.visanetlink.pe/pagoseguro/PERUTOURISM/26688">Link de pago</a>
                    <label>Su código de cliente es:</label>&nbsp;&nbsp;<label style="color: #e41973">@codCliente</label>
                </div>
            </div>*@

        @*<input type="hidden" id="IDPedido" value="@IDPedido.Trim()" />*@

        @*<div class="form-group">
                <label for="form-label">A favor de:</label>
                <label for="email">VIAJES PENTAGRAMA</label>

            </div>
            <div class="form-group">
                <label for="form-label">Cliente:</label>
                <label for="email">@lstPedidoVisa.FirstOrDefault().NomCliente</label>

            </div>
            <div class="form-group">
                <label for="form-label">Servicio:</label>
                <label for="email">@lstPedidoVisa.FirstOrDefault().DesPedido</label>

            </div>
            <div class="form-group">
                <label for="pwd">Monto a pagar:</label>

                <label class="no-pad">
                    @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().Monto, new { @class = "form-control" })
                </label>
                @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().IDPedido, new { @class = "form-control", @Value = IDPedido.Trim(), @type = "hidden" })
            </div>
            <div class="form-group">

                <label>Agree</label>
                <label for="form-label">

                    @Html.CheckBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions, new { @class = "" })

                    I agree with the payment and booking conditions

                </label>


            </div>*@

        @*<div class="form-group-btn">
                <span class="field-validation-valid" data-valmsg-for="TermsAndConditions" data-valmsg-replace="true"></span>
                @Html.ValidationMessageFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions)
                <button type="submit" class="pago btn btn-primary">Realizar Pago</button>
            </div>*@

        <div class="group prop-detalle">
            <div class="group group-collapse">
                <div class="prop-num"><span>03 Simple steps to pay</span></div>
            </div>
            <div class="prop-content prop-general" id="content1">
                <div class="">
                    <ul class="prop-list">
                        <li>Register your personal data.</li>
                        <li>Register your customer code <strong>@codCliente</strong></li>
                        <li>Register the amount to pay.</li>
                    </ul>
                </div>
            </div>
            <div class="prop-icon">
                <div class="groupCircle">
                    <div class="groupTexto" id="iconIntermitente">
                        <a class="group text-center" href="https://pagolink.niubiz.com.pe/pagoseguro/PERUTOURISM/26688" title="Click aqui para pagar!" target="_self">
                            <div class="icon icon-propuesta"></div>
                            <div class="title">PAY NOW</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="group prop-detalle">
            <div class="group group-collapse">
                <div class="prop-num"><span>Important recomendations before the payment</span></div>
            </div>
            <div class="prop-content prop-general" id="content1">
                <div class="group">
                    <ul class="prop-list">
                        <li>Verify your credit line and available balance.</li>
                        <li>Make sure your credit card is enabled for online purchases internationally.</li>
                        <li>Confirm your credit card limit per day.</li>
                        <li>Check if you bank need your authorization depending on the amount of money to be charged.</li>
                        <li>Type the info just as it is shown on your credir card.</li>
                    </ul>
                </div>
            </div>
            <div class="prop-icon"></div>
        </div>




    </div>


}
else
{
    <div id="propDet" class="secondary">

        <div class="container-fluid">
            <section class="subtitle" style="margin-bottom: 0px;">
                <div class="container">
                    <div class="text-center bloqueCode">
                        <label class="titulo">Tu ID cliente es:</label>
                        <br />
                        <label class="codigo">@codCliente</label>
                    </div>
                    @*<div class="options">
                            <div class="op-group">
                                <div class="op op-propuesta">
                                    <div class="icon icon-propuesta"></div>
                                    <div class="title">PAY NOW</div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </section>


            <div class="breadcrumb">
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Inicio</span>
                    </span>
                </a>

                @if (flagVendido == true)
                {

                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = codCliente, pFlagVendido =flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Mi viaje reservado</span>
                        </span>
                    </a>

                    <a href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = idPedido, NroPrograma = nroPrograma, FlagIdioma = idioma, pCodCliente = codCliente, pFlagVendido =flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Detalle</span>
                        </span>
                    </a>
                    <input id="mostrarMenuVendido" value="ok" style="display:none" />
                    @*<div id="mostrarMenuVendido" style="display:none">ok</div>*@
                }
                else
                {
                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = codCliente, pFlagVendido =flagVendido  })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Propuestas para mi viaje</span>
                        </span>
                    </a>

                    <a href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = idPedido, NroPrograma = nroPrograma, FlagIdioma = idioma, pCodCliente = codCliente, pFlagVendido =flagVendido })">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__desc">Detalle</span>
                        </span>
                    </a>
                }

                <div class="no_enlace">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title">Paga ahora</span>
                    </span>
                </div>
            </div>

        </div>


        @*<div class="group prop-detalle">
                <div class="group text-center" style="padding-top: 17px;">
                    <a class="group text-center" href="https://www.visanetlink.pe/pagoseguro/PERUTOURISM/26688">Link de pago</a>
                    <label>Su código de cliente es:</label>&nbsp;&nbsp;<label style="color: #e41973">@codCliente</label>
                </div>
            </div>*@

        @*<input type="hidden" id="IDPedido" value="@IDPedido.Trim()" />*@

        @*<div class="form-group">
                <label for="form-label">A favor de:</label>
                <label for="email">VIAJES PENTAGRAMA</label>

            </div>
            <div class="form-group">
                <label for="form-label">Cliente:</label>
                <label for="email">@lstPedidoVisa.FirstOrDefault().NomCliente</label>

            </div>
            <div class="form-group">
                <label for="form-label">Servicio:</label>
                <label for="email">@lstPedidoVisa.FirstOrDefault().DesPedido</label>

            </div>
            <div class="form-group">
                <label for="pwd">Monto a pagar:</label>

                <label class="no-pad">
                    @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().Monto, new { @class = "form-control" })
                </label>
                @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().IDPedido, new { @class = "form-control", @Value = IDPedido.Trim(), @type = "hidden" })
            </div>
            <div class="form-group">

                <label>Agree</label>
                <label for="form-label">

                    @Html.CheckBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions, new { @class = "" })

                    I agree with the payment and booking conditions

                </label>


            </div>*@

        @*<div class="form-group-btn">
                <span class="field-validation-valid" data-valmsg-for="TermsAndConditions" data-valmsg-replace="true"></span>
                @Html.ValidationMessageFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions)
                <button type="submit" class="pago btn btn-primary">Realizar Pago</button>
            </div>*@

        <div class="group prop-detalle">
            <div class="group group-collapse">
                <div class="prop-num"><span>3 Simples pasos para pagar</span></div>
            </div>
            <div class="prop-content prop-general" id="content1">
                <div class="">
                    <ul class="prop-list">
                        <li>Registra tu información personal.</li>
                        <li>Registra tu ID de cliente: <strong>@codCliente</strong></li>
                        <li>Registra el monto a pagar</li>
                    </ul>
                </div>
            </div>
            <div class="prop-icon">
                <div class="groupCircle">
                    <div class="groupTexto" id="iconIntermitente">
                        <a class="group text-center" href="https://pagolink.niubiz.com.pe/pagoseguro/PERUTOURISM/26688" title="Click aqui para pagar!" target="_self">
                            <div class="icon icon-propuesta"></div>
                            <div class="title">PAGA AHORA</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="group prop-detalle">
            <div class="group group-collapse">
                <div class="prop-num"><span>Recomendaciones importantes antes de realizar el pago</span></div>
            </div>
            <div class="prop-content prop-general" id="content1">
                <div class="group">
                    <ul class="prop-list">
                        <li>Verifique su línea de crédito y saldo disponible.</li>
                        <li>Verifique que su tarjeta de crédito este habilitada para realizar compras por internet a nivel internacional.</li>
                        <li>Verifique con su banco el límite de gasto diario de su tarjeta de crédito para compras por internet.</li>
                        <li>Consulte a partir de que monto su banco le solicitará una autorización previa para pagos por internet.</li>
                        <li>Escriba los datos tal como se muestran en su tarjeta de crédito.</li>
                    </ul>
                </div>
            </div>
            <div class="prop-icon"></div>
        </div>




    </div>

}






<script src="~/scripts/Visa/PagoVisa.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flagGG = $('#mostrarMenuVendido').text();

        if (flagGG = "ok") {
            $(".marcaMenu").removeClass("active");
            $(".marcaMenu03").addClass("active");
        } else {
            $(".marcaMenu").removeClass("active");
            $(".marcaMenu02").addClass("active");
        }

        var animacion = function () {
            document.getElementById('iconIntermitente').classList.toggle('fade');
        }

        setInterval(animacion, 500);
    });
</script>
